<h2>User info</h2>
<%= form_for(@a_user) do |f| %>
<% if @a_user.errors.any? %>
    <h3>
    <% @a_user.errors.count %>errors prohibited this book from being saved:
    </h3>

    <ul>
    <% @a_user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
    <% end %>
    <div class="form-group has-icon">
        <div class="field">
        Name
        <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field">
        Image
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "" %>
        <label class="control-label sr-only" for="inputEmail">

        ProfileImage</label>
        <%= f.attachment_field :profile_image %>
        </div>
        <div class="field">
        Introduction
        <%= f.text_area :introduction %>
        </div>
    </div>
    <%= f.submit "Update User" %>
<% end %>