
<%= render 'books/newbook' %>

<h4>books</h4>

<%= flash[:success] %>

<h1>books</h1>
<table>
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
	</thead>
	<tbody>
		<% @mybooks.each do |book| %>
		<tr>
			<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
			<td><%= book.title %></td>
			<td><%= book.body %></td>
		</tr>
		<% end %>
	</tbody>
</table>

