<%= flash[:success] %>
Editing Book

<%= form_for(@a_book) do |f| %>
    <% if @a_book.errors.any? %>
    <h3>
    <% @a_book.errors.count %>errors prohibited this book from being saved:
    </h3>

	<ul>
	<% @a_book.errors.full_messages.each do |message| %>
	<li><%= message %></li>
	<% end %>
    </ul>
    <% end %>

    <h4>Title</h4>
    <%= f.text_field :title %>

    <h4>Body</h4>
    <%= f.text_area :body %>

    <%= f.submit 'Update Book' %>

<% end %>


<%= link_to "Show", book_path(@a_book) %>

<%= link_to "Back",  books_path %>