<!DOCTYPE html>
<html>
  <head>
    <title>Bookers1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<head class = "navbar navbar-fixed-top navbar-inverse">
  <div class ="container">
    <nav class = "navbar-nav navbar-left">
      <span class="glyphicon glyphicon-home">bookers</span>
    </nav>

            <div id="slidemenu">
            <ul class="nav navbar-nav navbar-right">

            <% if user_signed_in? %>
            <li>
            <span class="glyphicon glyphicon-home"><%= link_to "Home", user_path(current_user) %></span>
            </li>
            <li>
            <span class="glyphicon glyphicon-user"><%= link_to "Users", users_path %></span>
            </li>
            <li>
            <span class="glyphicon glyphicon-book"><%= link_to "Books", books_path %></span>
            </li>
            <li>
            <span class="glyphicon glyphicon-log-out"><%= link_to "Log out", destroy_user_session_path, method: :delete %></span>
            </li>

            <% else %>

            <li class="">
            <span class="glyphicon glyphicon-home"><%= link_to "Home", root_path %></span>
            </li>
            <li class="">
            <span class="glyphicon glyphicon-link"><%= link_to "About", homes_path %></span>
            </li>
            <li class="">
            <span class="glyphicon glyphicon-edit"><%= link_to "Sign up", new_user_registration_path %></span>
            </li>
            <li class="">
            <span class="glyphicon glyphicon-log-in"><%= link_to "Log in", new_user_session_path %></span>
            </li>
            <% end %>

            </ul>
            </div>
            </div>
            </nav>
            </div>

            <%= render 'layouts/notifications' %>

    <%= yield %>

   <footer class="footer style-2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
           CopyRight Infratop.inc
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
